.img-user-list{
	width: 30px;
	border: 0px solid;
	border-radius: 15px;
}
.artist_info{
	height: 60px;
	overflow:hidden;
	max-width: 200px;
}
.img-cover-list{
	width: 80px;
}
#info_summary{
	height: 150px;
}
.img_profile{
	width: 100px;
	border:1px solid;
	border-radius: 50px;
}